<header>
    <div class="navbar">
        <div class="logo">TEMP</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#our-products">All Products</a></li>
                <li><a href="Basket.html">Basket</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>
